/* .App {
  text-align: center;
  padding-left: calc(100vw - 100%);
} */
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.btn {
  background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
  --tw-gradient-from: #f51b6b;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(245, 27, 107, 0));
  --tw-gradient-to: #e2ab45;
  box-shadow: rgb(100 100 111 / 40%) 0px 7px 29px 0px;
}
.btn:hover {
  position: relative;
  top: -2px !important;
}
img {
  margin-right: 0 !important;
}
.blur-box {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(70px) !important ;
}
.loading-bar {
  width: 130px;
  height: 2px;
  background: #cfcfcf;
  margin-top: 22px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before {
  content: "";
  width: 68px;
  height: 2px;
  background: #000;
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
  50% {
    left: 96px;
  }
}
.radient {
  color: #f51b6b !important;
  /* background-color: linear-gradient(to right, var(--tw-gradient-stops)) !important;
  --tw-gradient-from: #f51b6b;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(245, 27, 107, 0));
  --tw-gradient-to: #e2ab45; */
}
.blur {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main-box {
  border: 3px solid #000;
  border-style: double;
}
